*.pyc
*.pkl
*.png
*.svg
*.eps
*.avi
*.mp4
analysis/drift_vs_droplet_placement/**/*.json
analysis/temperature_long_xp/extracted_data
/analysis/temperature_long_xp/displacement_csv
/analysis/temperature_long_xp/time_feature_csv
analysis/temperature_long_xp/time_speed_csv
analysis/temperature_long_xp/tmp
analysis/pH_long_xp/extracted_data
analysis/pH_long_xp/displacement_csv
analysis/pH_long_xp/time_feature_csv
analysis/pH_long_xp/time_speed_csv
analysis/pH_long_xp/tmp
/analysis/speed_division/coverage/data/coverages.json
/analysis/speed_division/hull/data/*.json
/analysis/temperature_analysis/csv/
/analysis/temperature_prediction/data
csv/**/*.csv
properties/*.json
/datasets/**/*.json
/figures/**/*.json
/figures/speed_sort/csv_all
/figures/speed_sort/csv
/analysis/dye_release/data/
